<div class="interactive-wrapper">
	<div id="scrolly-2">
	    <div class="scroll-wrapper">
	        <div class="scroll-inner">
	            <div id="data-viz2">
	            	<div id="vax-text">
	            	</div>
	            	<div id="unvax-text">
	            	</div>	
	            </div>
	        </div>
	        <div class="scroll-text">
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    <p>These <span class="red">circles</span> compare the number of vaccinated and unvaccinated people aged 50 and over who have <span class="red">died or ended up in ICU</span> due to Covid in NSW between 26 November 2021 and 1 January 2022. This looks bad without any other context – these <span class="red">severe outcomes</span> seem higher for vaccinated than unvaccinated people</p>
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div"> 
	                   <p>However, if you show the <span class="red">severe outcomes</span> as a proportion of <span class="blue">all vaccinated and unvaccinated people</span> in the state, you can see that the number of vaccinated people is far larger than the number of unvaccinated people. This means that vaccinated people are far less likely to have a severe outcome from Covid</p>
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    <p>So now, resizing the circles by the rate of <span class="purple">severe outcomes per 100,000 people</span> we can see the rate is far lower in vaccinated people. This is because vaccines greatly reduce the chance of severe illness from Covid</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>	