// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; //remove this line when using immersive weighting or the article template
@import "scrolly";


.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-wrapper {

    .big_labels {
        font-size: 40px;
        font-style: italic;
        fill:#767676;
    }

    #vax-text {
        position: absolute;
        top:80%;
        left:25%;
        text-align: center;
    }

    .purple {
        color:#990066;
        font-weight: bold; 
        background: #fff;
    }

    .pink {
        color:#ff6699;
        font-weight: bold; 
        background: #fff;
    }

    .blue {
        color:#6699cc;
        font-weight: bold; 
        background: #fff;
    }

    .vax_label_value {
        font-size: 26px;
        font-weight: bold; 
    }

    #unvax-text {
        position: absolute;
        top:80%;
        left:75%;
        text-align: center;
    }

    .statusText1 {
        font-family: "Guardian Text Sans Web","Agate Sans",sans-serif;
        font-size: 16px;
        fill:#767676;
    }

    .statusText2 {
        font-size: 26px;
        font-weight: bold; 
    }

    #data-viz1 {
        position: relative;
    }

    @media (max-width: 600px) {
        .big_labels {
            font-size: 30px;
            font-style: italic;
            fill:#767676;
        }

        .vax_label_value {
            font-size: 20px;
        }    

        .statusText1 {
            font-size:14px;
        }

        .statusText2 {
            font-size: 20px;
        }
    }
}


.gv-wrapper {
    background: #fff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

/*----- App fixes -----*/
.ios, .android {
    .element--immersive {
        width: 100vw !important;
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
    }
    
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}

/*----- DCR live Corrections -----*/
.element-immersive { //this fixes the incorrect dcr immersive margins and width
  width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;

  @include mq(tablet) {
      transform: translateX(10px);
  }

  @include mq(leftCol) {
      transform: translateX(0);
  }
}
/* ------------------------- */