<div class="interactive-wrapper">
	<div id="scrolly-1">
	    <div class="scroll-wrapper">
	        <div class="scroll-inner">
	            <div id="data-viz1">
	            	<div id="vax-text">
	            	</div>
	            	<div id="unvax-text">
	            	</div>	
	            </div>
	        </div>
	        <div class="scroll-text">
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    <p>These <span class="purple">circles</span> compare the number of vaccinated and unvaccinated people aged 10 and over that have died, or ended up in ICU due to Covid in NSW between 26 November 2021 and 1 January 2022. This looks bad without any other context – these <span class="purple">severe outcomes</span> seem higher for vaccinated than unvaccinated people</p>
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div"> 
	                    <p>However, if you show the <span class="purple">severe outcomes</span> as a proportion of <span class="pink">Covid cases</span> in the same period, you can see that the likelihood of a severe outcome is far higher for unvaccinated people</p>
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    <p>Similarly if you show <span class="purple">severe outcomes</span> as a proportion of <span class="blue">all vaccinated and unvaccinated people</span> in the state, the rate of severe outcomes per 100,000 people is far lower in vaccinated people. This is because vaccines greatly reduce the chance of severe illness from Covid</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>	